astroid==3.0.2
cfgv==3.4.0
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
exceptiongroup==1.2.0
Faker==22.6.0
filelock==3.13.1
identify==2.5.33
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
nodeenv==1.8.0
packaging==23.2
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.5.0
pylint==3.0.3
pytest==8.0.0
python-dateutil==2.8.2
PyYAML==6.0.1
six==1.16.0
SQLAlchemy==1.4.24
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
virtualenv==20.25.0
